
@{
    ViewBag.Title = "School Infos";
}
<script type="text/javascript">
    $(function () {
        setMenuActive("jxxy_menu_jxxx");
    });
</script>
<div class="row">
    <div class="col-md-4" >@Html.Partial("~/Views/Shared/_Menu.cshtml")</div>
    <div class="col-md-8">
        1111
    </div>
</div>



