@using JXXY.WebUI.Models
@model JXXY.WebUI.Models.SchoolModel
@{
    ViewBag.Title = "School Infos";
}
<script type="text/javascript">
    $(function () {
        setMenuActive("jxxy_menu_jxxx");
    });
</script>

<form action="School/show" method="post" role="form" class="form-horizontal">
    <div class="row">
        <div class="col-md-3">@Html.Partial("~/Views/Shared/_Menu.cshtml")</div>
        <div class="col-md-9">
            <div class="row">
                <div class="panel panel-default jxxy-jxxx-detail">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            驾校信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_SchoolOperation", new SchoolModel())
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            驾校列表
                        </h3>
                    </div>
                    <div class="panel-body">
                        @{var schools = ViewBag.schools as List<JXXY.WebUI.Models.SchoolModel>;}
                        @Html.Partial("_SchoolList", schools)
                    </div>
                </div>
            </div>
        </div>
    </div>    
</form>




